In [20]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
file_path = "C://Users//giova//Downloads//DATI VELA copia.xlsx"
df = pd.read_excel(file_path)

In [5]:
df

,ID,Sex,Pathology,Onset,Anatomical distribution,Local distribution,Treatment,International regata,Sailing Class
0,1,1,10,2,1,2,1,2,1
1,1,1,14,2,1,2,1,17,1
2,1,1,2,1,2,9,5,17,1
3,1,1,15,2,3,10,2,11,1
4,2,1,15,1,3,10,2,9,1
...,...,...,...,...,...,...,...,...,...
130,23,2,15,2,3,10,2,13,10
131,23,2,15,2,3,10,2,16,10
132,24,2,12,1,3,10,2,4,10
133,24,2,12,1,3,10,2,5,10
134,24,2,12,1,3,10,2,9,10

In [34]:
sailing_class_dict = {
    "1": "IQfoil men",
    "2": "IQfoil women",
    "3": "Kitefoil men",
    "4": "Kitefoil women",
    "5": "49er",
    "6": "49er FX",
    "7": "470 Mix",
    "8": "ILCA 6",
    "9": "ILCA 7",
    "10": "Nacra17"
}


def create_summary_athlete():
    df_mod = df
    df_mod["Pathology"] = 1
    result = df_mod.groupby('ID').agg({
    'Pathology': 'sum',
    'Sex': "mean",
    'Sailing Class': 'mean', 
    'International regata': 'nunique'
    }).reset_index()
    
    result.rename(columns = {"Pathology": "N. Injuries"}, inplace=True)
    result.rename(columns = {"International regata": "Total Events attended"}, inplace=True)

    result["Sex"] = result["Sex"].apply(lambda x : "Male" if x==1 else "Women")
    result["Sailing Class"] = result["Sailing Class"].apply(lambda x : sailing_class_dict[str(int(x))])
    result["Avg Injuries per Regata"] = np.round(result["N. Injuries"]/result["Total Events attended"],2)
    
    
    result.set_index("ID", inplace=True)
    
    return result

df_athletes = create_summary_athlete()
print(df_athletes.to_latex())

\begin{tabular}{lrllrr}
\toprule
{} &  N. Injuries &    Sex &   Sailing Class &  Total Events attended &  Avg Injuries per Regata \\
ID &              &        &                 &                        &                          \\
\midrule
1  &            4 &   Male &      IQfoil men &                      3 &                     1.33 \\
2  &            3 &   Male &      IQfoil men &                      3 &                     1.00 \\
3  &            8 &  Women &    IQfoil women &                      6 &                     1.33 \\
4  &            8 &  Women &    IQfoil women &                      7 &                     1.14 \\
5  &            6 &   Male &    Kitefoil men &                      6 &                     1.00 \\
6  &            6 &   Male &    Kitefoil men &                      6 &                     1.00 \\
7  &            6 &  Women &  Kitefoil women &                      6 &                     1.00 \\
8  &            6 &  Women &  Kitefoil women &                      6 &                     1.00 \\
9  &            5 &   Male &            49er &                      5 &                     1.00 \\
10 &            5 &   Male &            49er &                      5 &                     1.00 \\
11 &            9 &   Male &            49er &                      9 &                     1.00 \\
12 &            9 &   Male &            49er &                      9 &                     1.00 \\
13 &            9 &  Women &         49er FX &                      9 &                     1.00 \\
15 &            8 &  Women &         49er FX &                      8 &                     1.00 \\
16 &            8 &  Women &         49er FX &                      8 &                     1.00 \\
17 &            4 &  Women &         470 Mix &                      4 &                     1.00 \\
18 &            5 &  Women &         470 Mix &                      5 &                     1.00 \\
19 &            2 &   Male &         470 Mix &                      2 &                     1.00 \\
20 &            6 &  Women &          ILCA 6 &                      6 &                     1.00 \\
21 &            5 &  Women &          ILCA 6 &                      5 &                     1.00 \\
22 &            6 &   Male &          ILCA 7 &                      6 &                     1.00 \\
23 &            4 &  Women &         Nacra17 &                      4 &                     1.00 \\
24 &            3 &  Women &         Nacra17 &                      3 &                     1.00 \\
\bottomrule
\end{tabular}

C:\Users\giova\AppData\Local\Temp/ipykernel_13324/2589218056.py:37: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_athletes.to_latex())

In [24]:
pathology_dict = {
    "1": "Concussion",
    "2": "Fracture (traumatic)",
    "3": "Stress fracture (overuse)",
    "4": "Dislocation, subluxation",
    "5": "Ligamentous rupture",
    "6": "Sprain (joint and/or ligament)",
    "7": "Lesion of meniscus or cartilage",
    "8": "Strain/muscle injury",
    "9": "Contusion/haematoma",
    "10": "Tendinosis/tendinopathy",
    "11": "Fasciitis/aponeurosis injury",
    "12": "Spinal cord injury",
    "13": "Muscle cramps",
    "14": "Compartimental syndrome",
    "15": "Acute overload"
}


def injuries_analysis():
    return df["Pathology"].astype(str).apply(lambda x: pathology_dict[x])

In [29]:
freq = injuries_analysis().value_counts()
print((freq/sum(freq)).to_latex())

\begin{tabular}{lr}
\toprule
{} &  Pathology \\
\midrule
Acute overload                 &   0.548148 \\
Spinal cord injury             &   0.222222 \\
Tendinosis/tendinopathy        &   0.081481 \\
Fracture (traumatic)           &   0.029630 \\
Fasciitis/aponeurosis injury   &   0.029630 \\
Strain/muscle injury           &   0.029630 \\
Contusion/haematoma            &   0.014815 \\
Sprain (joint and/or ligament) &   0.014815 \\
Ligamentous rupture            &   0.014815 \\
Compartimental syndrome        &   0.007407 \\
Dislocation, subluxation       &   0.007407 \\
\bottomrule
\end{tabular}

C:\Users\giova\AppData\Local\Temp/ipykernel_13952/944213827.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print((freq/sum(freq)).to_latex())